# Google ignored files
*.swp
*.pyc
.DS_Store

# Visual Studio Code
.vscode

# Compiled Object files
*.obj
*.pdb
*.exe
*.dll
*.orig
*.suo

# Build directories
**/bin
**/.vs
**/obj
**/tmp
msbuild.log
msbuild.err
msbuild.wrn

# Databases
*.mdf
*.ldf
*.bak

# Items that should not be deleted
!ExcelDataReader*
!**/ExcelDataReader*

# Junk files
lala*
zz.bat
*.vssettings
*.log

# Working Directories
**/WorkingDir
**/Temp

*~*

# Ignore NuGet Packages
*.nupkg

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Ignore other intermediate files that NuGet might create. project.lock.json is used in conjunction
# with project.json (NuGet v3); project.assets.json is used in conjunction with the PackageReference
# format (NuGet v4 and .NET Core).
project.lock.json
project.assets.json
